<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="welcomeMessage" value="Hello Cohort!" />
        <add key="threadDelay" value="2000" />
        <add key="pm" value="PM" />
        <add key="dev" value="Dev" />
        <add key="other" value="Other" />
        <add key="jobTypeMessage" value="The job types are:" />
        <add key="goodbyeMessage" value="Goodbye Cohort!" />
    </appSettings>
</configuration>